#idAdiciona
{
    text-align: right;
    font-size: 20px;
    
}

#bdy
{
    background-image: url(imagem/pata06.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 1920px;
    right: auto;
}

#titulo1
{
    font-family: 'Koulen', cursive;
    padding-top: 50px;
}

#titulo2
{
    font-family: 'Koulen', cursive;
    font-size: 50px;
}

.row
{
    font-weight: bold;
    font-size: 20px;
}